#wrapper {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	height: 100%;
	font-family: var(--body-font) !important;
	    overflow: hidden;
	
}

.ui-outputlabel-rfi {
	color: red;
}

hr {
	height: 0px;
	margin: 0;
	color: #000;
	background-color: currentColor;
	border: 0;
	opacity: .8;
}

#top-banner {
	height: 8vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: var(--header-bg);
	color: var(--header-fc);
	font-family: var(--title-font);
	padding: 0px;
	text-align: center;
}
#bottom-banner {
	height: 8vh;
}

#top-banner h1 {
	color: var(- -header-logo-fg);
	font-size: 1.8rem;
	font-weight: 600;
	margin-left: 41vw;
	margin-top: 1vh;
}

#top-banner #top-menu {
	background-color: var(--header-menu-bg);
	color: var(--header-menu-fg);
}

#main-menu {
	background-color: var(--main-menu-bg);
	color: var(--main-menu-fg);
	border: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


#page-container {
	text-align: left;
	background-color: var(--main-content-wrapper-bg);
	color: var(--main-content-fg);
	min-height: 91.9vh !important;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.title{
	color:black;
	font-weight: bold;
	text-transform: uppercase;
}

#footer {
	flex-basis: 5%;
	text-align: center;
	line-height: 40px;
	padding: 0px;
	background-color: var(--footer-bg);
	color: var(--footer-fg);
	font-size: 0.9em;
}

#footer a {
	color: var(--footer-fg);
}



li.ui-menuitem.ui-widget.ui-corner-all, a.ui-menuitem-link.ui-corner-all
	{
    background-color: transparent !important;
    color: #00a2e8 !important;
    font-family: var(--body-font);
    font-weight: 900;
}
.ui-menuitem-text {
	font-size: 1.2rem !important
}

.first-text {
	margin-top: 4vh;
}

.page-title {
	margin-left: 2vw;
	font-weight: 800;
	font-size: 1.55rem;
	margin-top: 2vh;
}

.page-links {
	margin-left: 8vh;
}

body .ui-datatable .ui-datatable-header {
	margin-top: 20px;
	margin-bottom: 50px;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer
	{
	background-color: transparent;
	border: 1px solid transparent;
	font-weight: bolder !important;
}

body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
	font-family: var(--body-font) !important;
	font-size: 15px;
	font-weight: bold !important;
}

	body .ui-datatable .ui-datatable-data>tr>td {
		color: var(--table-body-fg) !important;
	}
	
	
	body .ui-datatable thead th {
		background-color: transparent !important;
		border: 3px solid black;
	}
	
	body .ui-datatable .ui-datatable-data>tr>td {
		background-color: #0000001c !important;
		border: 3px solid black;
		text-align: center;
	}


body .ui-datatable .ui-paginator.ui-paginator-bottom {
	border-top: 0 none;
	background-color: transparent;
	border: 0;
}

body .ui-button {
	background-color: rgb(187, 202, 223) !important;
	border: 3px solid black !important;
	border-radius: 10px;
	padding: -42px 5px !important;
	color: black !important;
}

body .ui-button.ui-button-text-only .ui-button-text {
	padding: 0.12em 1.2em !important
}

form#dragonsTable {
    position: relative;
    top: 19vh;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 5px 10px;
	background-color: var(--card-header-bg);
	color: var(--card-header-fg);
	margin-bottom: 10px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

body .ui-dialog .ui-dialog-content {
    background-color: #e3e3e3;
}

body .ui-dialog .ui-dialog-titlebar {
    background-color: #808286 !important;
}
form#frmDragon {
    position: relative;
    top: 27vh;
    left: 18vw;
    width: 1%;
}

button#frmDragon\:j_idt16 {
    left: 8vw;
}